export(plot.kb)
export(summary.kb)
S3method(plot,kb)
S3method(summary,kb)
export(decision.finding)
export(example.kb)
export(get.boundary.comb.kb)
export(get.boundary.kb)
export(get.decision.obd.kb)
export(get.decision.obd2.kb)
export(get.oc.kb)
export(get.oc.comb.kb)
export(get.oc.obd.kb)
export(get.oc.obd2.kb)
export(next.comb.kb)
export(select.mtd.comb.kb)
export(select.mtd.kb)
export(select.obd.kb)
#export(select.mtd.comb) #inside function
#import(BOIN)
#importFrom("grDevices", "windows")
#importFrom("grDevices", "windows")
importFrom("grDevices", "dev.new", "dev.off")
importFrom("graphics", "axis")
importFrom("graphics", "abline", "arrows", "barplot", "legend",
"mtext", "par", "plot", "points", "rect", "segments","text")
importFrom("stats", "pbeta", "pbinom", "qbeta", "rbinom", "runif")
importFrom("stats", "quantile")
importFrom("utils", "install.packages")
importFrom("graphics", "lines", "polygon")
importFrom("stats", "dbeta", "sd")
import(Rcpp)
import(methods)

